// body settings
$containerWidth: 		960px;

// colors
$black: 				#111111;
$red: 					#A40200;
$white: 				#ffffff;

// contrasten
$bg1: 		 			$black;
$color1: 				$white;

$bg2: 					$red;
$color2: 				$white;

// linkcolors
$linkColor: 			$white;
$linkColorHover: 		#bbbbbb;

// footer
$ftrBgColor: 			$black;
$ftrColor: 				$white;