// body settings
$containerWidth: 		1000px;

// colors
$black: 				#000;

$contrast1: 			#000;
$colorContrast1: 		#fff;

$linkColor: 			#fff;
$linkColorHover: 		#bbb;

// footer
$ftrBgColor: 			$black;
$ftrColor: 				#fff;