@font-face {
  font-family: "open_sansbold";
  src: url("fonts/opensans_bold/OpenSans-Bold-webfont.eot");
  src: url("fonts/opensans_bold/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans_bold/OpenSans-Bold-webfont.woff") format("woff"), url("fonts/opensans_bold/OpenSans-Bold-webfont.ttf") format("truetype"), url("fonts/opensans_bold/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sanslight";
  src: url("fonts/opensans_light/OpenSans-Light-webfont.eot");
  src: url("fonts/opensans_light/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans_light/OpenSans-Light-webfont.woff") format("woff"), url("fonts/opensans_light/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/opensans_light/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}

.baseTriangle, .about .qanda .triangle {
  height: 0px;
  width: 0px;
}

.conversationBalloon, .about .qanda p {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #111111;
  font-size: 16px;
  font-family: 'open_sanslight';
}

.bodyContainer {
  width: 960px;
  margin: 0 auto;
}

footer {
  background-color: #111111;
  color: white;
  height: 50px;
  margin-top: 50px;
}

.divider {
  background-color: #111111;
  height: 10px;
  width: 100%;
}

.calendar .timeline {
  margin: 5px 0 20px 0;
  border-bottom: 5px solid #111111;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.calendar .timeline .date {
  width: 120px;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  background-color: #111111;
  color: white;
}
.calendar .trainings {
  overflow: hidden;
}
.calendar .trainings .training {
  width: 306.66667px;
  margin: 0 10px 0 10px;
  float: left;
  font-family: 'open_sansbold';
  font-size: 30px;
}
.calendar .trainings .training:first-child {
  margin-left: 0px;
}
.calendar .trainings .training:last-child {
  margin-right: 0px;
}
.calendar .trainings .training .spacer {
  width: 299.66667px;
  border: 2px solid #111111;
  border-bottom: 0px;
  height: 30px;
}
.calendar .trainings .training .contrast {
  background-color: #111111;
  color: white;
  width: 299.66667px;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.3);
}
.calendar .trainings .training .contrast:after {
  content: "";
  width: 0px;
  height: 89px;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #111111;
  position: relative;
  float: right;
  right: -7px;
  top: -41px;
}
.calendar .trainings .training .content {
  width: 299.66667px;
  border: 2px solid #111111;
  border-top: 0px;
}
.calendar .trainings .training a {
  color: white;
  text-decoration: none;
}
.calendar .trainings .training a:hover {
  color: #bbbbbb;
}

.about .qanda {
  line-height: 28px;
  overflow: auto;
  margin-bottom: 20px;
}
.about .qanda .q {
  margin-bottom: 25px;
}
.about .qanda .q p {
  background-color: #111111;
  color: white;
}
.about .qanda .q .triangle {
  float: left;
  border-top: 10px solid #111111;
}
.about .qanda .a {
  text-align: right;
  margin-bottom: 25px;
}
.about .qanda .a p {
  background-color: #a40200;
  color: white;
}
.about .qanda .a .triangle {
  float: right;
  border-top: 10px solid #a40200;
}
.about .qanda p {
  margin-bottom: 0px;
}
.about .qanda .triangle {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  margin: 0 20px 0 20px;
}
.about .staff {
  overflow: auto;
}
.about .staff .member {
  width: 225px;
  margin: 0 10px 0 10px;
  float: left;
}
.about .staff .member:first-child {
  margin-left: 0px;
}
.about .staff .member:last-child {
  margin-right: 0px;
}
.about .staff .member p {
  background-color: #111111;
  color: white;
  margin-bottom: 2px;
  margin-top: 2px;
}
