<div class="about">
	<h1>{{data.title}}</h1>
	<div class="qanda">
		<div class="q"><p>Wat is FRESHNESS</p><div class="triangle"></div></div>
		<div class="a"><p>Wij zijn een feitelijke vereniging die zich engageert voor HipHop en zijn dans in Limburg. Wij geven de jeugd een plaats waar ze nieuwe mensen leren kennen.</p><div class="triangle"></div></div>
		<div class="q"><p>Hoe doen jullie dat?</p><div class="triangle"></div></div>
		<div class="a"><p>Wij organiseren wekelijks vrije trainingen. Iedereen is welkom.</p><div class="triangle"></div></div>
		<div class="q"><p>Waar?</p><div class="triangle"></div></div>
		<div class="a"><p>Hasselt en Genk slet</p><div class="triangle"></div></div>
	</div>
	<div class="staff">
		<div class="member" ng-repeat="member in data.staff">
			<img ng-src="img/profile.gif" alt="{{member.name}}">
			<p>{{member.name}}</p>
			<p>{{member.titles}}</p>
			<p>{{member.email}}</p>
		</div>
	</div>
</div>

<p ng-repeat="member in data.staff">
	<input type="text" ng-model="member.name">
	<input type="text" ng-model="member.titles">
	<input type="text" ng-model="member.email">
</p>
<input type="submit" ng-click="save()">