<div id="blog">
	<h1>{{title}}</h1>
</div>

<div ng-repeat="post in data.posts">
	<input type="text" ng-model="post.id">
	<input type="text" ng-model="post.title">
	<input type="text" ng-model="post.created">
	<input type="text" ng-model="post.modified">
	<input type="text" ng-model="post.author">
	<input type="text" ng-model="post.intro">
	<input type="text" ng-model="post.text">
</div>
<!-- <div>
	<input type="text" ng-model="post.id">
	<input type="text" ng-model="post.title">
	<input type="text" ng-model="post.created">
	<input type="text" ng-model="post.modified">
	<input type="text" ng-model="post.author">
	<input type="text" ng-model="post.intro">
	<input type="text" ng-model="post.text">
</div>

<input type="submit" ng-click="save()"> -->